.title{
    font-family: 'Zen Tokyo Zoo';
}

.container{
    background-color: rgb(18, 37, 88);
    color: rgb(255, 255, 255);
}
.info{
    text-align: center
}

h1{
    text-align: center;
}

h1{
    font-size: 3em;
}

#tablero{
    margin: auto;
    width: 750px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#tablero>input{
    width: 2000px;
    height: 180px;
    max-width: 33.33%;
    font-size: 7em;
    transition: 0.5s;
}

#tablero>input:hover{
    width: 2000px;
    height: 180px;
    max-width: 33.33%;
    font-size: 7em;
    background-color: rgb(10, 57, 110);
    color: #FFFFFF;
}